* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  
  }
.gallery-wrapper{
    padding: 25px 0;
    background-color: whitesmoke;
}
  
  .gallery-title{
    text-align: center;
  }
  .gallery-title h1{
    padding-top: 25px ;
    padding-bottom: 5px;
    margin: auto auto 15px;
    max-width: 260px;
    border-bottom: 1px solid #000;
  }
  .gallery-title p{
   
    font-weight: 500;
    font-size: 14px;
  }

  .first-gallery{
    padding: 25px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }
  .gimg-box{
    width: 300px;
    background-image: linear-gradient(to bottom right, #c3c0bf, rgb(251, 243, 243));
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
  .one{
    width: 200px;

  }
  .one:hover{
    transform: scale(1.3);
    transition: 0.5s ease-in-out;
  }

  
  @media screen  and (max-width: 700px) {
    .gallery-title h1{
      font-size: 25px;
      max-width: 200px;

    }
    .gallery-title p{
      width: 400px;
      font-size: 12px;
      margin: auto;
    }
  }

  @media screen  and (max-width: 450px) {
    .gallery-title h1{
      font-size: 25px;
      max-width: 200px;

    }
    .gallery-title p{
      width: 280px;
      font-size: 12px;
      margin: auto;
    }
    .gimg-box{
      width: 280px;
    }
  }